

export(glmm.nb)
export(glmm.zinb)
export(lme.zig)
export(mms)
export(mgam)
export(mglmmTMB)

export(fixed)
export(fixed.mms)
export(fixed.mgam)
export(fixed.mglmmTMB)

export(plot.fixed)
export(heat.p)

export(sim)
export(nonzero)









