

export(glmm.nb)
export(glmm.zinb)
export(lme.zig)
export(mms)


export(fixed)
export(fixed.nb)
export(fixed.lme)
export(fixed.zi)
export(fixed.mms)

export(get.fixed)
export(plot.fixed)
export(covariates)
export(heat.p)

export(sim)
export(nonzero)









